#instruct {
    background: #974fdc;
    padding-top: 30px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    color: white;
    font-size: 20px;
    margin-bottom: 24px;
   
}

#luck {
    font-family: 'Titan One', cursive;
    
    font-size: 30px;
    text-align: center;
    color: #20d2ff;

}


#scores {
    background: #974fdc;
    padding-top: 30px;
    padding-left: 26px;
    padding-right: 26px; 
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0px;
   
}

#target-score {
    background:violet;
    padding-top: 30px;
    padding-left: 26px;
    padding-right: 26px; 
    padding-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0px;
   
}

#total_style {
    background:#20d2ff;
    padding: 20px;
    font-family: 'Titan One', cursive;
    text-align: justify;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

#crystals {
    background:violet;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    
   
}